<ul>
<% @songs.each do |song| %>
  <li><%= display_artist(song) %> - <%= link_to song.title, song_path(song) %></li>
<% end %>
</ul>
<br>
<h6><%= "Song not found" if flash[:alert] %></h6>
<br>
<br>
<%= link_to "Add New Song", new_song_path %>
